/* CSS Document */

body {
	background-color: #333;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #222;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.dialogue {
	color: white;
	width: 75%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 100px;
}

.decision {
	border: solid 2px white;
	padding: 10px;
	text-decoration: none;
	color: white;
}

.decision:hover {
	color: #FDD700;
}

.or {
	margin: 25px;
}

.backtomain {
	position: fixed;
	top: 0;
	left: 0;
	padding: 15px;
	border: solid 1px lightgreen;
	color: white;
	text-decoration: none;
}

.credits {
	display: block;
	margin: auto;
	margin-top: 18%;
}

.intro {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	width: 50%;
}

.play {
	margin-top: 16px;
	text-align: center;
}